@CHARSET "UTF-8";

#footer {
	text-align: center;
}
.navbar{
	min-height:15px !important;
}

#mainPage{
	padding-top:50px;
	padding-bottom:50px;
	display:inline-block;
}

.label{
	display: table-cell !important;
	color: black !important;
	border-radius: 0 !important;
	vertical-align: middle !important;
	font-size:100% !important;
}

.input{
	text-align:center;
}

.ui-selectonemenu {
	padding-right:0px !important;
}

.ui-selectonemenu-trigger{
	width:25px !important;
}

#tabs\:ProductAddDialog\:ivaConsole{
	width:175px !important;
}

#tabs\:ShelfAddDialog\:shelfProductID{
	min-width:50px !important;
}