@CHARSET "UTF-8";

#footer {
	text-align: center;
}
.navbar{
	min-height:15px !important;
}

#mainPage{
	padding-top:50px;
	padding-bottom:50px;
	display:inline-block;
}

.label{
	display: table-cell !important;
	color: black !important;
	border-radius: 0 !important;
	vertical-align: middle !important;
	font-size:100% !important;
}

.input{
	text-align:center;
}